@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome to the newly created Zoellner-Valentin-Rosario Pub (ZVR for short)! On our website, feel free to create a new account or login to a pre-existing one!</p>
<p>Once logged in, explore our menu and place an order! Our expert chefs will make sure that your order is ready for pickup in 30 minutes or your money back!</p>
<p>Try our build-your-own burgers! Choose from a variety of fresh toppings, such as cheese, onions, tomatos, and pickles! (Availability of ingredients may vary)</p>
<p>Not feeling like a burger? Try our wings instead!</p>
<p>All locations now offering a wide variety of draft beers! (Please drink responsibly. ID required for pick-up. Must be 21 or older to order alcoholic beverages.)</p>
<p>Now offering free drinks with the purchase of any build-your-own burger! ($2 extra for free beverage. Alcoholic beverages not included.)</p>
<p></p>
<p>ZVR Pub is a creation of Anthony Zoellner, Randall Valentin, and Cristian Rosario-Acevedo for project 2 in Nick Escalona's .NET batch. Use without permission of Revature is prohibited.</p>
