
@{
    ViewData["Title"] = "AccessDeniedAdmin";
}

<h2>Access Denied</h2>

<p>You are not authorized to view this page. Only administrators are authorized to view this page.</p>
<p>Please contact an administrator for more information.</p>